.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .greenButton {
  background-color: green;
  color: white;
} */


.App-link {
  color: #61dafb;
}

.navbar {
  z-index: 100;
  top: -100px;
  transition: top 0.3s ease-in-out;
  background-color: #61dafb;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;

  .navbar {
    background-color: #61dafb;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
  }

  .navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }

  .navbar-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  .navbar-item {
    margin: 0 10px;
  }

  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }

  .navbar-link:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-link:hover {
  color: #fff;
  text-decoration: underline;
}

.parallax-image {
  background-image: url('https://i.ibb.co/sP9Srt7/happypoorchildren.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.centered-text {
  text-align: center;
  color: #fff;
}

.centered-text h1 {
  font-size: 3em;
}

.centered-text h2 {
  font-size: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fading-text {
  animation: fadeIn 1s ease-in 1s forwards;
}

.spaces {
  height: 200px;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;

}

.navbar-hidden {
  top: -100px;
}

.our-goal-section {
  text-align: center;
}

.logo-image {
  height: 50px;
  width: auto;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.card-description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gray-background {
  background-color: #f9f9f9;
}

.header {
  position: relative;
  display: inline-block;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #61dafb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-button {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #4ec5f7;
}

.card-link {
  color: #4ec5f7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card-link:hover {
  color: darkblue;
}

.footer {
  background-color: #61dafb;
  color: #fff;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-section {
  margin: 20px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.loginPage {
  background-color: #61dafb;
  background-size: 100%;
  height: 100vh;
  /* Ensure the container covers the entire viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-size: 14px;
}


.RegisterDonor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;

}

/*hana reg form */

.regform {

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;




}

.formElement {
  margin-bottom: 15px;
}

.profileicon {

  height: 50px;
  width: auto;

}

.genderOption {
  display: flex;
  align-items: center;
}

.genderOption input[type="radio"] {
  width: auto;
  /* Set width to auto to adjust to content */
  margin-right: 5px;
  /* Add some spacing between radio button and label */
}

.genderOption label {
  margin-right: 5px;
  /* Add some spacing between radio button and label */
}

form .title {
  text-align: center;
}




.formElement input,
.formElement select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.NormalButton {
  width: 100%;
  padding: 10px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.NormalButton:hover {
  background-color: #0056b3;
}

.greenButton {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(109, 178, 109);
  color: white;
}

/* profile */

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.Page {
  position: relative;
}

.OrgNavBar2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.leftHalf {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;

}

.rightHalf {
  grid-column: 2 / span 1;

}

.deleteButton {
  background-color: #ff6347;
  /* Red color */
  color: hsl(0, 0%, 100%);
  /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* Adjust padding as needed */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth color transition */
}

.deleteButton:hover {
  background-color: #d32f2f;
  /* Darker shade of red on hover */
}

.orgdetails {
  grid-column: 1 / -1;
  grid-row: 3;
  background-color: #f9f9f9;
  border-radius: 8px;

  padding: 20px;
  width: 1085px;
  height: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.logoanduser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 500px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.representative {
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 500px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.Element {
  margin-bottom: 10px;

}

.Element label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.Element input {
  /* width: calc(100% - 10px); */
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.actions {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 20px;
}


.pinButton {
  border: none;
  background: #61dafb;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  width: 50%;
  margin-left: 25%;
}

.greenpinButton {
  border: none;
  background-color: rgb(109, 178, 109);
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  width: 50%;
  margin-left: 25%;
}

.pinButton:hover {
  background-color: #0056b3;

}

.reactjs-popup-content {
  border-radius: 8px;
  /* Gives the popup slightly rounded corners */
  width: auto;
  max-width: 400px;
  /* Control the width of the popup */
  padding: 20px;
  background-color: white;
  border: 2px solid #61dafb;
  /* Light blue border */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*Organization NavBar Styling*/
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 8px 0;
  border-radius: 4px;
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333333;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Logo for org*/
.NGOLogo {
  height: 50%;
  width: 70%;
}

/* pop up for google maps */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* pop up for google maps */


/* welcome page*/
.loginPage {
  background-color: #61dafb;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-size: 14px;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  right: 15%;
  transform: translateY(-50%);
  background-color: #f8f9fa;
  padding: 1.25rem;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.input-group {
  position: relative;
  margin-bottom: 6%;
}

.input {
  width: 80%;
  padding: 1rem;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  font-size: 1rem;
  color: #333;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 80%;
  margin: auto;
}

.user-label {
  position: absolute;
  left: 5%;
  top: 0.025rem;
  color: #9e9e9e;
  pointer-events: none;
  transform: translateY(1rem);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.input:focus~.user-label,
.input:valid~.user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #f8f9fa;
  padding: 0 0.2em;
  color: #1a73e8;
}

.login button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login button:hover {
  background-color: #40a9cb;
}

.forgot-password {
  text-align: center;
  position: absolute;
  bottom: 19%;
  left: 71.5%;
  transform: translateX(-50%);
  margin-top: 12%;
}

.register-account {
  text-align: center;
  position: absolute;
  bottom: 12%;
  left: 71.5%;
  transform: translateX(-50%);
}



.forgot-password a {
  color: #61dafb;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.register-account a {
  color: #61dafb;
  text-decoration: none;
}

.register-account a:hover {
  text-decoration: underline;
}

.welcome-page-logo {
  width: 30vw;
  height: auto;
  position: absolute;
  top: 0%;
  right: 13%;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  background-color: #61dafb;
  ;
}

.left-side-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-image: url('https://i.ibb.co/yF7485g/bluephonewallpaper.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-side-text {
  color: #fff;
  font-size: 4em;
  font-family: 'Arial', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.subtext {
  color: #fff;
  font-size: 2em;
  font-family: 'Arial', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.remember-and-forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember {
  color: #61dafb;
}

.profileicon {

  height: 30px;
  width: auto;

}


.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills .nav-item {
  margin-right: 5px;
}

.nav-link {
  color: #007bff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.active {
  background-color: #61dafb;
  color: #fff;
}

/* change password button in profilr */
.changePasswordbutton {
  border: none;
  background: #61dafb;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  font-weight: bold;
  border-radius: 4px;

}

/*View Organization Requests*/
.donations-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5%;
  padding: 0 5%;
}

/*View Organization Request Details*/
.org-view-container {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.org-view-title {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

.org-item-details {
  margin-top: 20px;
}

.org-item-name {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.org-item-info {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.org-item-info strong {
  color: #333;
}

.org-item-details center {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.blue-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.blue-button:hover {
  background-color: #0056b3;
}


/* Organization Request Donation */
.main-request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-request-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-request-container select,
.main-request-container input[type="text"],
.main-request-container input[type="number"],
.main-request-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-request-container form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #40a9cb;
}

.select-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin: 20px 0;
}


.select-container select {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 13.224l5.82-5.821a.75.75 0 011.06 1.06l-6.35 6.35a.75.75 0 01-1.06 0l-6.35-6.35a.75.75 0 111.06-1.06L10 13.224z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  text-align: center;
}

.select-container select:focus {
  outline: none;
  border-color: #61dafb;
  box-shadow: 0 0 0 2px rgba(97, 218, 251, 0.2);
}

.success-message {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  animation: slide-up 0.5s ease-in-out forwards, slide-down 0.5s 3s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    bottom: -100px;
  }

  to {
    bottom: 20px;
  }
}

@keyframes slide-down {
  from {
    bottom: 20px;
  }

  to {
    bottom: -50px;
  }
}

/* card styles */
.card {
  position: relative;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dimmed {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-details {
  margin-bottom: 15px;
}

.card-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.card-description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px;
}

.edit-button,
.delete-button,
.view-details-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.status {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  font-size: 14px;
  color: #555;
}

.edit-button {
  background-color: #FFD700;
  color: white;
}

.view-details-button {
  background-color: #007bff;
  color: white;
}

.delete-button {
  background-color: #ff6b6b;
  color: white;
}

.edit-button:hover {
  background-color: #ccac00;
}

.view-details-button:hover {
  background-color: #0062cc;
}

.delete-button:hover {
  background-color: #cc4c4c;
}

.status-ongoing {
  color: #007bff;
}

.status-fulfilled {
  color: green;
}

.progress-container {
  margin-top: 10px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 20px;
}

.progress-bar::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 20px;
}

.progress-bar::-webkit-progress-value {
  background-color: #007bff;
  border-radius: 20px;
}

.progress-bar::-moz-progress-bar {
  background-color: #007bff;
}

.progress-bar::-ms-fill {
  background-color: #007bff;
}

.progress-bar::-moz-progress-bar {
  background-color: #007bff;
}

.progress-bar.progress-bar-green::-webkit-progress-value,
.progress-bar.progress-bar-green::-moz-progress-bar,
.progress-bar.progress-bar-green::-ms-fill {
  background-color: #00cc00;
}

.progress-container h3 {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.confirm-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-dialog p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.confirm-dialog-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.confirm-dialog button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.confirm-dialog button:last-child {
  background-color: #dc3545;
  margin-left: 10px;
}

.confirm-dialog button:hover {
  opacity: 0.9;
}

.confirm-dialog button:focus {
  outline: none;
}


/* small button for change password */
.smallpinButton {
  border: none;
  background: #61dafb;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  width: 30%;
}

.smallpinButton:hover {
  background-color: #0056b3;

}