body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}


.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}

.form_wrapper {
  background: #fff;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 2% auto 2%;
  position: relative;
  z-index: 1;
  border-top: 5px solid #AAD7D9;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.8s 0.6s ease-out forwards;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }

  .title_container {
    text-align: center;
    padding-bottom: 15px;
  }

  h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
  }

  label {
    font-size: 12px;
  }

  .row {
    margin: 10px -15px;

    >div {
      padding: 0 15px;
      box-sizing: border-box;
    }
  }

  .col_half {
    width: 50%;
    float: left;
  }

  .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;

    >span {
      position: absolute;
      left: 0;
      top: 0;
      color: #333;
      height: 100%;
      border-right: 1px solid #4d869c;
      text-align: center;
      width: 30px;

      >i {
        padding-top: 10px;
      }
    }
  }

  .textarea_field {
    >span {
      >i {
        padding-top: 10px;
      }
    }
  }

  input {

    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="tel"],
    &[type="number"] {
      width: 100%;
      padding: 8px 10px 9px 35px;
      height: 35px;
      border: 1px solid #4d869c;
      box-sizing: border-box;
      outline: none;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
    }

    &[type="text"]:hover,
    &[type="email"]:hover,
    &[type="password"]:hover,
    &[type="tel"]:hover,
    &[type="number"]:hover {
      background: #fafafa;
    }

    &[type="text"]:focus,
    &[type="email"]:focus,
    &[type="password"]:focus,
    &[type="tel"]:focus,
    &[type="number"]:focus {
      box-shadow: 0 0 2px 1px rgba(29, 117, 136, 0.5);
      border: 1px solid #4d869c;
      background: #fafafa;
    }

    &[type="checkbox"],
    &[type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.form_container {
  .row {
    .col_half.last {
      border-left: 1px solid #4d869c;
    }
  }
}

.checkbox_option {
  label {
    margin-right: 1em;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      margin-right: 0.5em;
      vertical-align: -2px;
      border: 2px solid #4d869c;
      padding: 0.12em;
      background-color: transparent;
      background-clip: content-box;
      transition: all 0.2s ease;
    }

    &:after {
      border-right: 2px solid #4d869c;
      border-top: 2px solid #4d869c;
      content: "";
      height: 20px;
      left: 2px;
      position: absolute;
      top: 7px;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top;
      width: 7px;
      display: none;
    }
  }

  input {
    &:hover+label:before {
      border-color: #4d869c;
    }

    &:checked+label {
      &:before {
        border-color: #4d869c;
      }

      &:after {
        -moz-animation: check 0.8s ease 0s running;
        -webkit-animation: check 0.8s ease 0s running;
        animation: check 0.8s ease 0s running;
        display: block;
        width: 7px;
        height: 20px;
        border-color: #4d869c;
      }
    }
  }
}

.radio_option {
  label {
    margin-right: 1em;

    &:before {
      content: "";
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      margin-right: 0.5em;
      border-radius: 100%;
      vertical-align: -3px;
      border: 2px solid #4d869c;
      padding: 0.15em;
      background-color: transparent;
      background-clip: content-box;
      transition: all 0.2s ease;
    }
  }

  input {
    &:hover+label:before {
      border-color: #4d869c;
    }

    &:checked+label:before {
      background-color: #4d869c;
      border-color: #4d869c;
    }
  }
}

.select_option {
  position: relative;
  width: 100%;

  select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #4d869c;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;

    &::-ms-expand {
      display: none;
    }

    &:hover,
    &:focus {
      color: #4d869c;
      background: #fafafa;
      border-color: #4d869c;
      outline: none;
    }
  }
}

.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

.select_option select {

  &:hover+.select_arrow,
  &:focus+.select_arrow {
    border-top-color: #4d869c;
  }
}

.credit {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 15px;
  color: #4d869c;

  a {
    color: darken(#4d869c, 7%);
  }
}

@keyframes expand {

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}



@media (max-width: 600px) {
  .form_wrapper {
    .col_half {
      width: 100%;
      float: none;
    }
  }

  .bottom_row {
    .col_half {
      width: 50%;
      float: left;
    }
  }

  .form_container {
    .row {
      .col_half.last {
        border-left: none;
      }
    }
  }


}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #4d869c;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #4d869c;
}

.mapButton {
  border: none;
  background: #AAD7D9;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  width: 50%;
  margin-left: 25%;
}

.mapButton:hover {
  background-color: #4D969C;

}

.fa {

  margin-top: 35%;
  margin-bottom: 25%;

}


.uploadtext {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;

}


/* change password */
#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cpMainDiv {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border: none;
}

.cpCardStyle {
  width: 500px;
  background-color: #f9f9f9;
  margin: 10px 0;

}

.cpFormTitle {
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}

.cpInputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}

.cpInputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cpInputDiv input[type="password"] {
  /* Specific targeting */
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px #ccc;
  padding: 0 11px;
}

.cpButtonWrapper {
  margin-top: 40px;
}

.cpSubmitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #61dafb;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* close button */
.close {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  color: white;
  border: none;
  /* padding: 5px 10px;
  border-radius: 5px; */
  cursor: pointer;
}


/* user profile */
/* General Layout */
.profile-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.profile-header ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

/* Profile Overview */
.profile-overview {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Sections */
section {
  padding: 10px 0;
}

/* Map Section */
.map-section .map {
  height: 300px;
  background-color: #e0e0e0;
}

/* Footer */
.profile-footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}